body {
    font-family: 'Comfortaa', cursive;
	font-size: 1.5em;
	background-color: white;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 500px;
    
}
a:link { color: black; text-decoration: none;
}
a:visited { color: black; text-decoration: none;
}
a:hover { color: #808080; text-decoration: underline;
}
a:active { color: #808080; text-decoration: underline;
}
.content {
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1px;
	padding-left: 10px;
}
.top {
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-bottom: 10px;
}
